*.pyc
/*.egg
/*.egg-info
/.eggs/*
/.DS_Store
/build/
/dist/
/.venv/
.mypy_cache
*__pycache__
.pytest_cache
.vscode
.coverage
coverage/*
terraform/terraform.tfstate*
terraform/.terraform
terraform/.terraform.tfstate.lock.info
